<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Paypal Donation- Payment Gateway Integration | Donation Successful
    </title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-nav">
        <h1 class="navbar-heading">
          <a href="/">Payment Gateway Integration</a>
        </h1>
      </div>
    </nav>

    <div>
      <h1 class="heading">Thank You For Donating: $<%= donatedAmount %>.</h1>
      <p class="first-step">
        Confirmation Email has been sent to the valid Email.
      </p>
      <form class="amount" action="/">
        <button class="back-btn" type="submit">Back to the Homepage</button>
      </form>
    </div>
  </body>
</html>
