<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paypal Donation- Payment Gateway Integration | Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-nav">
        <h1 class="navbar-heading">
          <a href="/">Payment Gateway Integration</a>
        </h1>
      </div>
    </nav>
    <div class="page">
      <div class="container">
        <h1 class="heading">We Are To Help.</h1>
        <form action="/select.amount" class="first-step">
          <button class="btn" type="submit">Donate</button>
        </form>
      </div>
    </div>
  </body>
</html>
